@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: Poppins;
}
body{
    height: 100vh;
    overflow: hidden;
    /* background-color: rgb(54, 15, 51);
    background-color: #1b003f; */
}
a{
    text-decoration: none;
}
button{
    cursor: pointer;
}
.container {
    display: grid;
    grid-template-columns: 200px 1fr;
}
.sidebar{
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    align-self: start;
    border: 1px solid rgb(217, 217, 217);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
}
.sidebar ul{
    list-style: none;
}
.main-nav-links, .profile-settings{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}
.main-nav-links li:first-child {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-nav-links li a, .profile-settings li a {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}


/* ///////////main content/////////// */
.main-content{
    padding: 10px;
    height: 100vh;
    overflow: hidden;
}
#today-tasks-section,#analytics-section,#all-tasks-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
}
.main-section-top{
    /* border: 1px solid rgb(217, 217, 217);
    border-radius: 15px;
    padding: 10px; */
}

#all-tasks-section .main-section-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#all-tasks-section .main-section-bottom{
   padding: 20px;
}

.main-section-bottom{
    border: 1px solid rgb(217, 217, 217);
    border-radius: 15px;
    padding: 10px;
    flex: 2;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}


.current-day-details-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border-bottom: 1px solid rgb(217, 217, 217); */
    margin-bottom: 10px;
}

.top-button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.create-task-btn{
    background: black;
    color: #f6f6f6;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    border-radius: 5px;
    padding: 10px 8px;
    width:100%;
    font-size: 14px;
    cursor: pointer;
    white-space: nowrap;
}
/* ---------------tasks section----------------- */
.tasks-section-desc{
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 300px;
}
.tasks-section-desc.hide{
    display: none;
}


.tasks-management-container{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

/* ---------------------tasks list section--------------------------*/
.tasks-list-section{
    /* background-color: rgb(241, 241, 241); */
    /* border: 1px solid lightgrey;
    border-radius: 15px; */
    /* padding: 10px; */
    flex: 1;
    transition: flex 0.5s ease;
}
.new-tasks-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.new-tasks-list::-webkit-scrollbar{
    display: none;
}
.task-list-item {
    padding: 5px;
    background-color: #f6f6f6;
    border-radius: 15px;
    list-style-type:none;
}
.task-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list-item-text-section{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.task-name{
    /* text-decoration: underline;
    font-style: italic; */
    font-size: 18px;
}
.task-total{
    font-size: 17px;
    font-family: Poppins;
    font-style: italic;
    font-weight: 500;
}
.list-item-buttons-section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.timer-btn{
    padding: 10px;
    border: none;
    background: none;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
    /* border-radius: 50%; */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.timer-icon{
    width: 30px;
    height: 30px;
    fill: rgb(114, 44, 114);
}
.task-edit-btn{
    border: none;
    background: none;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 1px;
    border-radius: 5px;
    cursor: pointer;
}




/* ---------------tasks details section------------------------ */
.tasks-details-section {
    height: 100%;
    background-color: rgb(241, 241, 241);
    border-radius: 15px;
    position: relative;

    flex-basis: 0;
    max-width: 0;
    overflow: hidden;
    transform: translateX(100%);
    transition: transform 0.5s ease, max-width 0.5s ease, flex-basis 0.5s ease;
}
.tasks-details-section.show{
    flex-basis: 30%;
    max-width: 30%;
    transform:  translateX(0);
    margin-left: 10px;
}























/* --------------------------timer section---------------------------- */
.timer-section{
    background-color: rgb(241, 241, 241);
    height: 100%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    flex-basis: 0;
    max-width: 0;
    overflow: hidden;
    transform: translateX(100%);
    transition: transform 0.5s ease, max-width 0.5s ease, flex-basis 0.5s ease;
}
.timer-section.show{
    /* background-color: rgb(150, 144, 155); */
    flex-basis: 25%;
    max-width: 25%;
    transform:  translateX(0);
    margin-left: 10px;
}
.timer-section-close-btn {
    position: absolute;
    right: 10px;
    top: 10px;
}
.tasks-details-section-close-btn {
    position: absolute;
    right: 10px;
    top: 10px;
}
.time-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 25px;
}
.time-container h3{
    font-size: 40px;
}

/* ---------------all tasks page styles ------------------- */
#all-tasks-section .tasks-management-container {
    margin-top: 30px;
}
.main-tasks-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* gap: 15px; */
}
.list-category{
    padding: 10px;
    /* background-color: rgb(160, 159, 160); */
}
.list-category h3 {
    background-color: lightgrey;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
}
.list-sub-category{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}


/* --------------analytics-page styles ------------------- */
#analytics-section .main-section-bottom {
    gap: 20px;
}
.analytics-top-row{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* height: 100%; */
}
.analytics-top-column {

}

.analytics-bottom-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    gap: 20px;
}
.analytics-bottom-row-left-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.analytics-bottom-row-right-section {
    flex: 1;
}

.grid-scrollable-container{
    flex: 1;
    height: 100%;
    width: 100%;
}
.graph-container{
    position: relative;
    width: fit-content;
}
.grid-container {
    display: grid;
    /* height: 100%; */
    /* width: 100%; */
    position: relative;
    z-index: 1;
   
}
.x-axis-labels{
    position: absolute;
    bottom: -20px;
    left: 0;
    display: grid;
    grid-template-columns: repeat(14, minmax(10px, 60px));
    width: 100%;
    font-size: 12px;
    text-align: center;
    border-top: 1px solid #000;

}
.y-axis-labels{
    position: absolute;
    /* left: -40px; */
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 35px;
    font-size: 12px;
    text-align: right;
    border-left: 1px solid #000;
}

.block{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.marker-block{
    position: absolute;
    top: 0;
    bottom: 0;

    /* animation styles----- */
    transform-origin: bottom;
    animation-name: growFromBottom;
    animation-duration: 0.2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards; 
}

@keyframes growFromBottom {
    0% {
        transform: scaleY(0);
        opacity: 0;
        transform-origin: bottom;
    }
    100% {
        transform: scaleY(1);
        opacity: 0.7;
        transform-origin: bottom;
    }
}


/* ////////////////////create new task popup ////////////////// */
.create-new-task-popup-container{
    position: absolute;
    bottom:15px;
    left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    border-radius: 20px;
    background-color:#ececec;
    z-index: 10;
}
.task-input-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    height: 400px;
    display: none;
    max-height: 400px;
    overflow-y: auto;
}
.task-input-container.show{
    display: flex;
}









/* /////////////////time logs list/////////////////// */

/* .time-log-btn{
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: none;
    font-family: Poppins;
    font-weight: 300;
    font-size: 14px;
    border-radius: 5px;
    padding: 5px 5px;
    cursor: pointer;

}
.time-log-btn:hover{
    background-color: #e2e2e2;
}

.time-log-btn{
    display: none;
}
.time-log-btn.show{
    display: flex;
}
.time-log{
    display: none;
}
.time-log.show{
    display: block;
}
.time-log-list{
    list-style: none;
} */





/* .create-new-task-popup{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 30px;
    background-color: #f4f4f4;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    height: 90vh;
    transform: translateY(100%);
    transition: transform 0.5s ease;
    z-index: 2;
}
.create-new-task-popup.show{
    transform: translateY(0);
} */

/* .close-create-task-pop-up-btn{
    position: absolute;
    top:10px;
    right: 10px;
} */

/* .daily-summary-tab{
    margin-bottom: 60px;
    background-color: #f6f6f6;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    position: relative;
}
.summary-close-btn{
    position: absolute;
    top: 0;
    right: 0;
} */