@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-family: Poppins;
}
body{
    height: 100vh;
    overflow: hidden;
    position: relative;
    background: linear-gradient(135deg, #073468c9, #7c72a3, #f3eff7);
}
a{
    text-decoration: none;
}
button{
    cursor: pointer;
}

/* -------------------------signup login desgin-------------------------------- */
#signup-section, #login-section{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    padding: 40px 30px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;
    margin: 0 auto;
    width: 500px;
}
.signup-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.auth-input{
    padding: 12px 10px;
    background: none;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    font-size: 17px;
    width: 100%;
    font-style: italic;
}
.auth-btn{
    background: black;
    color: #f6f6f6;
    border: none;
    padding: 0;
    text-align: center;
    border-radius: 5px;
    padding: 10px 8px;
    width:100%;
    font-size: 14px;
    cursor: pointer;
}















































.container {
    display: grid;
    grid-template-columns: 200px 1fr;
}

/* //////////////////////////////////////////////////////////////////sidebar/////////////////////// */
.sidebar{
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    align-self: start;
    border: 1px solid rgb(217, 217, 217);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
}
.sidebar ul{
    list-style: none;
}
.main-nav-links, .profile-settings{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}
.main-nav-links li:first-child {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-nav-links li a, .profile-settings li a {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}


/* //////////////////////////////////////////////////////////////////////////main content/////////// */
.main-content{
    padding: 10px;
    height: 100vh;
    overflow: hidden;
}
.show-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
}
.hide-section {
    display: none;
}

/* .main-section-top{
    border: 1px solid rgb(217, 217, 217);
    border-radius: 15px;
    padding: 10px;
} */

.main-section-bottom{
    border: 1px solid rgb(217, 217, 217);
    border-radius: 15px;
    padding: 10px;
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}

.search-section {
    display: flex;
    gap: 10px;
}
/* //////////////////////////////////////////////////////current day///////////////////////////// */
.current-day-details-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border-bottom: 1px solid rgb(217, 217, 217); */
}
.top-button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.create-task-btn{
    background: black;
    color: #f6f6f6;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    border-radius: 5px;
    padding: 10px 8px;
    width:100%;
    font-size: 14px;
    cursor: pointer;
    white-space: nowrap;
}
.tasks-management-container{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.tasks-management-container:nth-child(2)  {
    display: flex;
    justify-content: center;
    overflow-y: unset;
    overflow-x: hidden;
}
.tasks-management-container:nth-child(2) .tasks-list-section{
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.tasks-management-container:nth-child(2) .tasks-list-section::-webkit-scrollbar{
    display: none;
}

/* /////////////////////////////////////////////////tasks list section//////////////*/
.tasks-list-section{
    /* background-color: rgb(241, 241, 241); */
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 15px;
    flex: 1;
    transition: flex 0.5s ease;
}
.new-tasks-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.new-tasks-list::-webkit-scrollbar{
    display: none;
}
.main-tasks-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* gap: 15px; */
}
.list-category{
    padding-bottom: 10px;
    /* background-color: rgb(160, 159, 160); */
}
.list-category h3 {
    background-color: lightgrey;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
}
.list-sub-category{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.task-list-item {
    padding: 5px;
    background-color: #f6f6f6;
    border-radius: 15px;
    list-style-type:none;
}
.task-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list-item-text-section{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.task-name{
    /* text-decoration: underline;
    font-style: italic; */
    font-size: 18px;
}
.task-total{
    font-size: 17px;
    font-family: Poppins;
    font-style: italic;
    font-weight: 500;
}
.list-item-buttons-section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.timer-btn{
    padding: 10px;
    border: none;
    background: none;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
    /* border-radius: 50%; */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.timer-icon{
    width: 30px;
    height: 30px;
    fill: rgb(114, 44, 114);
}
.task-edit-btn{
    border: none;
    background: none;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 1px;
    border-radius: 5px;
    cursor: pointer;
}


/* //////////////////////////////////////////////////////////////////////tasks details section///////////////////// */
.tasks-details-section {
    height: 100%;
    background-color: rgb(241, 241, 241);
    border-radius: 15px;
    
    flex-basis: 0;
    max-width: 0;
    overflow: hidden;
    transform: translateX(100%);
    transition: transform 0.5s ease, max-width 0.5s ease, flex-basis 0.5s ease;
}
.tasks-details-section.show {
    border: 1px solid rgb(217, 217, 217);
    flex-basis: 30%;
    max-width: 30%;
    transform:  translateX(0);
    margin-left: 10px;
}
.tasks-details-container{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.task-details-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid darkgray;
}
.header-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.task-details-content{
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    height: 100%;
    overflow-y: auto;
}
.task-details-content::-webkit-scrollbar{
    display: none;
}
.task-detail-group {
    display: flex;
    align-items: center;
    gap: 15px;
}
.task-detail-group label {
    font-size: 17px;
    font-weight: bold;
    white-space: nowrap;
}
.input{
    padding: 8px;
    background: none;
    outline: none;
    /* border: none; */
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 17px;
    width: 100%;
    font-style: italic;
}
.desc-input{
    height: 150px;
    resize: vertical;
    font-family: inherit;
    width: 100%;
}
.input-edit-mode{
    border: 1px solid lightsalmon;
    outline: unset;
}
.task-detail-status-group{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.task-status-select-box{
    padding: 5px;
    padding-right: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}
/* .task-status-select-box:hover{
    border-color: #1a2b3d;
} */

.task-detail-text{
    font-size: 16px;
    font-style: italic;
    white-space: nowrap;
}
.task-detail-date-group{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    white-space: nowrap;
}
.task-details-task-tags{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}
.task-tags-container{
    display: flex;
    gap: 10px;
}
.task-tag{
    list-style: none;
    background-color: #ccc;
    color: black;
    padding: 4px 10px;
    border-radius: 12px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ------------time log list----------- */
.time-log-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 5px;
}
.task-detail-loglist-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.time-log-toggler-btn{
    background-color: blueviolet;
    opacity: 0.8;
    color: #ccc;
    border: none;
    border-radius: 6px;
    padding: 3px 10px;
    margin-bottom: 5px;
    align-self: flex-end;
}
.time-log-list-container{
    display: flex;
    flex-direction: column;
    /* gap: 10px;*/ 
    width: 100%;
    background-color: #ccc;
    border-radius: 5px;
}
.loglist-head, .loglist-item{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    justify-items: center;
    align-items: center;
    white-space: nowrap;

    background-color: #706969;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px;
}
.loglist-list {
    max-height: 300px;
    overflow-y: auto;
}
.loglist-list::-webkit-scrollbar{
    display: none;
}
.loglist-item{
   border-radius: unset;
   background-color: unset;
   border-bottom: 1px solid darkgrey;
}
.loglist-item:last-child{
    border-bottom: unset;
}
.w-100{
    width: 100%;
}
.task-detail-total{
    font-size: 25px;
    font-weight: bold;
}
.task-edit-actions{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 20px;
    border-top: 1px solid darkgray;
}





/* ///////////////////////////////////////////////////////////////////////////////timer section////////////////////// */
.timer-section{
    background-color: rgb(241, 241, 241);
    border: 1px solid rgb(217, 217, 217);
    border-radius: 10px;
    height: 100%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    overflow: hidden;
    /* flex-basis: 25%;
    max-width: 25%;
    margin-left: 10px; */

    flex-basis: 0;
    max-width: 0;
    transform: translateX(100%);
    transition: transform 0.5s ease, max-width 0.5s ease, flex-basis 0.5s ease;
}
.timer-section.show{
    /* background-color: rgb(150, 144, 155); */
    flex-basis: 25%;
    max-width: 25%;
    transform:  translateX(0);
    margin-left: 10px;
    padding: 20px;
}
.timer-section-close-btn {
    position: absolute;
    right: 10px;
    top: 10px;
}
/* .tasks-details-section-close-btn {
    position: absolute;
    right: 10px;
    top: 10px;
} */
.time-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 25px;
}
.time-container h3{
    font-size: 40px;
}

/* -//////////////////////////////////////////////////////////////////////analytics-page styles///////////////////*/
#analytics-section .main-section-bottom {
    gap: 20px;
}
.analytics-top-row{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* height: 100%; */
}
.analytics-top-column {

}

.analytics-bottom-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    gap: 20px;
}
.analytics-bottom-row-left-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.analytics-bottom-row-right-section {
    flex: 1;
}

.grid-scrollable-container{
    width: 900px;
    height: 500px;
}
.grid-container {
    /* background-color: rgb(216, 221, 221); */
    display: grid;
    height: 100%; 
    width: 100%;
}
.y-label{
    font-size: 12px;
    font-weight: bold;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    padding-right: 10px;
    border-right: 1px solid black;
}
.x-label{
    border-top: 1px solid black;
    font-size: 10px;
    text-align: center;
    white-space: nowrap;
}
.block{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 0.2px solid lightgray;
    /* border: 1px solid gray; */
}
.marker-block{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 100;

    /* animation styles----- */
    /* transform-origin: bottom;
    animation-name: growFromBottom;
    animation-duration: 0.1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;  */
}

/* @keyframes growFromBottom {
    0% {
        transform: scaleY(0);
        opacity: 0;
        transform-origin: bottom;
    }
    100% {
        transform: scaleY(1);
        opacity: 0.7;
        transform-origin: bottom;
    }
} */


/* ---------------------create new task popup-------------------------- */
.new-task-popup{
    position: absolute;
    right: 10px;
    top: 60px;
    border-radius: 20px;
    background-color:#ececec;
    z-index: 10;
    padding: 30px;
    width: 500px;
    max-height: 400px;
    display: none;
}
.new-task-popup.show{
    display: block;
}
.task-inputs-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.popup-inputs{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 1px solid lightgray;
}
.popup-control-btns{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn{
    background: black;
    color: #f6f6f6;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 10px 8px;
    font-size: 14px;
    cursor: pointer;
    white-space: nowrap;
    letter-spacing: 1px;
}
#task-desc{
  height: 120px; 
  resize: vertical;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}